include           CHANGES.md
recursive-include src/rastafari *.pyx
recursive-include tests *.py
prune             .github
global-exclude    .pre-commit-config.yaml
global-exclude    test-requirements*.txt
